---

- name: wireshark installer
  win_get_url:
     url: 'https://2.na.dl.wireshark.org/win64/Wireshark-win64-2.2.0.exe'
     dest: 'C:\temp\Wireshark-win64-2.2.0.exe'
- name: Install exe
  raw: 'C:\temp\Wireshark-win64-2.2.0.exe /NCRC /S /desktopicon=yes /quicklaunchicon=no /D=C:\Program Files\test'
