---

- name: Download 7zip executable file 
  win_get_url:
    url: http://www.7-zip.org/a/7z1602-x64.msi 
    dest: "C:\\temp\7z1602_x64.msi"

- name: Install 7zip
  win_msi: path='C:\\temp\7z1602_x64.msi' 
